@use "variables" as *;

body {
  background-color: $bg-primary;
  color: $text-primary;
  font-family: $font-family-base;
  min-height: 100vh;
  line-height: 1.5;

  a {
    text-decoration: none;
    color: $text-primary;
  }
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 20px;
}
