@use "../../styles/variables";
@use "../../styles/mixins" as *;

.loaderCenterTo {
  @include flex-center;
  width: 100%;
  min-height: calc(100vh - 200px);
}

.containerGrid {
  padding: 10vh 13vh 0 28vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 30px;
}
